* {
  margin: 0;
  padding: 0;
  font-family: Go Pro;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: "Go Pro";
  src: url(../fonts/Microgramma\ D\ Extended\ Medium.otf);
}
body header {
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}
body header .contador-carrito {
  background-color: #0263a0;
  color: white;
  border-radius: 1rem;
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
  margin: 0;
  position: absolute;
  right: 2%;
  top: 45%;
}
@media (max-width: 450px) {
  body header .carrito {
    font-size: 2rem;
  }
}
@media (max-width: 450px) {
  body header .logo-buscarPro {
    width: 55%;
  }
}
body header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3rem;
  margin-bottom: 0;
}
body header nav ul .carrito {
  font-size: 5rem;
  margin-right: 2rem;
}
body header nav ul .carrito:hover {
  cursor: pointer;
}
body header nav ul .mi-carrito {
  background: rgb(226, 225, 225);
  position: fixed;
  top: 0;
  right: -100%;
  width: 20rem;
  height: 100%;
  transition: all 0.5s ease;
  z-index: 11;
  color: black;
  overflow-y: scroll;
  transition: all 0.5s ease;
}
body header nav ul .mi-carrito .titulo-carrito {
  text-align: center;
  font-size: 1.75rem;
}
body header nav ul .mi-carrito .contenido-carrito .caja-carrito {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
body header nav ul .mi-carrito .contenido-carrito .caja-carrito .carrito-imagen {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
body header nav ul .mi-carrito .contenido-carrito .caja-carrito .detalles {
  display: grid;
  row-gap: 0.5rem;
}
body header nav ul .mi-carrito .contenido-carrito .caja-carrito .detalles .titulo-producto {
  font-size: 1rem;
  text-transform: uppercase;
}
body header nav ul .mi-carrito .contenido-carrito .caja-carrito .detalles .precio-carrito {
  font-weight: 500;
  font-size: 1rem;
  font: bold;
}
body header nav ul .mi-carrito .contenido-carrito .caja-carrito .detalles .cantidad-carrito {
  border: none;
  border-radius: 0.3rem;
  background-color: black;
  color: white;
  width: 3.4rem;
  text-align: center;
  font-size: 1rem;
  cursor: default;
}
body header nav ul .mi-carrito .contenido-carrito .caja-carrito .remover-carrito {
  font-size: 2rem;
  cursor: pointer;
}
body header nav ul .mi-carrito .total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid black;
  margin-right: 0.5rem;
}
body header nav ul .mi-carrito .total .total-titulo {
  font-size: 1rem;
}
body header nav ul .mi-carrito .total .precio-total {
  margin-left: 0.5rem;
  font-size: 1rem;
}
body header nav ul .mi-carrito .btn-comprar {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background-color: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}
body header nav ul .mi-carrito .btn-comprar:hover {
  background-color: #0263a0;
}
body header nav ul .mi-carrito .cerrar-carrito {
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  cursor: pointer;
  font-size: 1.2rem;
}
body header nav ul .abrir-carrito {
  right: 0;
}
body main {
  background-color: #dddddd;
  color: black;
}
body main .titulo-pagina {
  text-align: center;
  padding: 1.5rem;
  transition: 1s;
}
body main .titulo-pagina:hover {
  transform: scale(1.02);
}
body main .titulo-pagina h1 {
  font-size: 5rem;
  font-weight: bold;
}
body main .titulo-pagina h2 {
  font-size: 2.5rem;
}
body main .galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
}
@media (max-width: 450px) {
  body main .galeria {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.25rem;
    margin: 0 auto;
  }
}
@media (min-width: 451px) and (max-width: 960px) {
  body main .galeria {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-gap: 0.5rem;
  }
}
body main .galeria .producto {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  transition: 0.5s;
}
body main .galeria .producto .imagen-producto {
  width: 100%;
}
body main .galeria .producto .precio {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  transition: 0.5s;
  border-radius: 0.5rem;
}
body main .galeria .producto .precio:hover {
  transform: scale(1.02);
  cursor: default;
}
body main .galeria .producto .agregar-carrito {
  border: none;
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
}
body main .galeria .producto .agregar-carrito:active {
  background-color: #0263a0;
  color: white;
}
body main .galeria .producto:hover {
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.432) 0px 54px 55px, rgba(0, 0, 0, 0.459) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
body footer {
  background-color: black;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
body footer .redes {
  margin: 0.5rem;
}
body footer p {
  margin: 0.5rem;
}
body footer p:hover {
  text-decoration: underline;
  cursor: default;
}

/*# sourceMappingURL=style.css.map */
